<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Random Password Generator</title>
  <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="card col-8 custom-shadow">
      <div class="card-header">
        <h3 class="card-title col-auto">Random Password Generator</h3>
      </div>
      <div class="card-body">
        <form id="form" novalidate>
          <div class="row g-3 ">
            <div class="col-4">
              <label for="passwordLength" class="col-form-label">Password Length</label>
            </div>
            <div class="col">
              <input type="number" id="passwordLength" class="form-control" name="passwordLength" max="14"
                min="4" required>
              <span class="form-text">Length is available between 4 ~ 14</span>
            </div>
          </div>


          <div class="row g-3" class="form-check">

            <div class="col-4">
              <label class="form-check-label" for="LowercaseCharacters">
                Include Lowercase Characters
              </label>
            </div>

            <div class="col d-flex ">
              <input class="form-check-input me-2" type="checkbox" value="on" id="LowercaseCharacters"
                name="LowercaseCharacters">
              <p>(e.g.abcde)</p>
            </div>

          </div>


          <div class="row g-3" class="form-check">

            <div class="col-4">
              <label class="form-check-label" for="UppercaseCharacters">
                Include Uppercase Characters
              </label>
            </div>

            <div class="col d-flex ">
              <input class="form-check-input me-2" type="checkbox" value="on" id="UppercaseCharacters"
                name="UppercaseCharacters">
              <p>(e.g.ABCDE)</p>
            </div>

          </div>

          <div class="row g-3" class="form-check">

            <div class="col-4">
              <label class="form-check-label" for="numbers">
                Include Numbers
              </label>
            </div>

            <div class="col d-flex ">
              <input class="form-check-input me-2" type="checkbox" value="on" id="numbers" name="numbers">
              <p>(e.g.123456)</p>
            </div>

          </div>

          <div class="row g-3" class="form-check">

            <div class="col-4">
              <label class="form-check-label" for="symbols">
                Include Symbols
              </label>
            </div>

            <div class="col d-flex ">
              <input class="form-check-input me-2" type="checkbox" value="on" id="symbols">
              <p>(e.g.@#$%)</p>
            </div>

          </div>

          <div class="row g-3 ">
            <div class="col-4">
              <label for="excludeCharacters" class="col-form-label">Exclude Characters</label>
            </div>
            <div class="col">
              <input type="text" id="excludeCharacters" class="form-control" name="excludeCharacters">
              <span class="form-text">These characters will not appear in th password</span>
            </div>
          </div>

          <div class=" d-flex justify-content-center">
            <button class="btn btn-primary col-4" id="submitButton" type="submit">Generator Password</button>
          </div>




        </form>

      </div>

    </div>
  </div>


  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/main.js"></script>
</body>

</html>